button {
    border: none;
    color: #ffffff;
    background-color: #30b5be;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#item{
    margin-top: 5%;
    max-width: 400px;
    max-height: 300px;
    
}